* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.home {
    width: 100%;
    height: 100vh;
    background-image: url("img/bgbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.home .item {
    display: flex;
    justify-content: center;
}

.navbar {
    background: transparent;
    z-index: 1;
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 95px;
}

.sticky {
    background-color: rgba(0,0,0,0.9);
    backdrop-filter: blur(3px);
    position: fixed;
    top: 0;
}

.navbar .nav-logo img {
    width: 60px;
    height: 90px;
    cursor: pointer;
    position: relative;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 0 40px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 22px;
}

.home .eldor-img {
    position: absolute;
    font-size: 150px;
    left: 20%;
    top: 20%;
    color: #fff;
    text-align: center;
    letter-spacing: 15px;
}

.eldor-img h1 {
    animation: change 0.5s infinite;
}

@keyframes change {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.eldor-img .eldor {
    position: absolute;
    width: 500px;
    height: 602px;
    top: -30%;
    right: 30%;
}

.about {
    width: 100%;
    height: 100vh;
    margin-top: 160px;
    background: #ffffff;
}

.about-page {
    display: flex;
    justify-content: center;
}

.about-page img {
    position: relative;
    width: 600px;
    height: 550px;
}

.title {
    width: 400px;
    height: 160px;
    margin: 0 112px;
}

.title h1 {
    font-size: 60px;
    font-weight: 700;
}

.title .shom {
    color: #cdcdcd;
    font-size: 60px;
}

.title .info {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 63px 0;
}

.born h2 {
    color: #2E2E2E;
    font-weight: 600;
    font-size: 30px;
}

.born .txt {
    position: absolute;
    padding-top: 15px;
    font-size: 20px;
    font-weight: 400;
    color: #9B9B9B;
}

.clubs {
    width: 520px;
    height: 250px;
    padding-top: 65px;
}

.clubs img {
    width: 500px;
    height: 170px;
}

.video {
    background-color: #2E2E2E;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: relative;
}

.video iframe {
    position: relative;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
}

.footer {
    width: 100%;
    height: 50px;
    font-size: 25px;
    text-align: center;
    margin-top: 15px;
}